
<div class="todo-panel">
<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome Isiri Champu!! To-do List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of todoItems">

        <mat-checkbox [(ngModel)]="item.checked">
          <span [ngClass]="{'green-text': item.checked}">{{ item.text }}</span>
        </mat-checkbox>
        

      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field>
      <mat-label>Choose email client</mat-label>
      <mat-select [(value)]="selectedEmailClient">
        <mat-option *ngFor="let client of emailClients" [value]="client.value">
          {{client.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendEmail()" 
            matTooltip="This will open your selected email client with a pre-filled message">
      Send Email
    </button>
  </mat-card-actions>
</mat-card>
</div>
